# Dockge stack: honeypot-keycloak
HP_BIND=10.8.0.2
KEYCLOAK_PORT=18080
KEYCLOAK_URL=https://auth.honeypot.example
KEYCLOAK_ADMIN_URL=https://keycloak-admin.honeypot.example
KEYCLOAK_PUBLIC_DOMAIN=honeypot.example
KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=bootstrap-admin
KEYCLOAK_THEME_DIR=/var/dockge/stacks/honeypot-keycloak/theme/apiary
KEYCLOAK_SECRETS_DIR=/var/dockge/stacks/honeypot-keycloak/secrets

RESTIC_REPOSITORY=/var/backups/apiary-keycloak
RESTIC_PASSWORD_FILE=/var/dockge/stacks/honeypot-keycloak/secrets/restic-password
RESTIC_HOST=apiary-homeserver
BACKUP_KEEP_DAILY=7
BACKUP_KEEP_WEEKLY=4
RESTIC_CHECK_SUBSET=5%
